<!DOCTYPE html>
<html>
<head>
	<title>this is a web page</title>
</head>
<body>
<h1>hello</h1>
<form method="post">
	{{form.csrf_token()}}
	{{form.author.label}}{{form.author}}<br>
	{{form.book.label}}{{form.book}}<br>
	{{form.submit}}
</form>
{%for message in get_flashed_messages()%}
{{message}}
{%endfor%}
<hr>
<ul>
	{% for author in authors %}
	<li>{{author.name}}<a href="{{url_for('delete_author',author_id=author.id)}}">delete</a></li>
	<ul>
	{%for book in author.books%}
	<li>{{book.name}}
	<a href="{{url_for('delete_book',book_id=book.id)}}">delete</a></li>
	{%else%}
	<li>none</li>
	{%endfor%}
</ul>
	{% endfor %}
</ul>
<hr>

</body>
</html>
